<!-- Comments Modal -->
<div class="modal fade" id="comments-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLongTitle">Comments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--action="/api/userpost/comment/<%= post._id %>"-->
                <form action="" method="POST" id="submit-post-comment">
                    <div class="form-group">
                        <label for="text">Create New Comment</label>
                        <textarea class="form-control" id="text" rows="3" name="text"></textarea>
                    </div>
                    <button id="button-Submit-Comment" type="submit" class="btn btn-primary">Submit Comment</button>
                    <hr>
                </form>

                <div class="col" id="comments-container">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Post Modal -->
<div class="modal fade" id="edit-post-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLongTitle">Editing Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group">
                        <label for="edit-post-text">Post</label>
                        <textarea class="form-control" id="edit-post-text" rows="3" name="text">
                        </textarea>
                    </div>
                    <input id="edit-post-id" value="" hidden>
                    <input type="button" id="update-post-button" class="btn btn-primary" value="Update Post">
                </form>

                <div class="col" id="comments-container">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Post content -->
<div class="post-info border-bottom">

    <div class="row view overlay" id="<%= post._id %>">
        <div class="col-1 p-3">
            <div class="circle-avatar" style="background-image:url(<%= post.InfoUser[0].photo %>)"></div>
        </div>
        <div class="col-9 py-3">
            <t class="font-weight-bold">
                <%= post.InfoUser[0].fullName %>
            </t>
            <a class="text-muted" href="/profile/<%= post.createdBy %>">@<%= post.createdBy %></a>
            <t class="text-muted">
                • <%= post.createdAt %>
            </t>
            <br>
            <div class="text-justify">
                <%- post.content.text %>
            </div>

            <% if(post.content.files.length > 0) { %>
                <div class="text-justify">
                    <% let files = post.content.files;

                    files.forEach(file => {
                        let name = file.split('/').pop(); %>
                        <br/>
                        <i class="fa fa-paperclip">
                            <a href="<%= file %>"><%= name %></a>
                        </i>
                    <% }) %>
                </div>
                <% } %>
                </div>
        <div class="col-2 justify-content-center align-self-center">
            <% if (post.createdBy === loginUser) { %>
            <i class="btn btn-danger btn-sm rounded-circle delete-post float-md-right mr-1" data-value="<%= post._id %>">
                <span class="fas fa-trash-alt" style="color:#fff" aria-hidden="true"></span>
            </i>
            <i class="btn btn-dark btn-sm rounded-circle edit-post float-md-right mr-1" data-value="<%= post._id %>">
                <span class="fas fa-pencil-alt" style="color:#fff" aria-hidden="true"></span>
            </i>
            <% } %>

            <i class="btn btn-dark btn-sm rounded-circle view-comments float-md-right mr-1" data-value="<%= post._id %>" data-toggle="modal"
                data-target="#exampleModalLong">
                <span class="fas fa-comment" style="color:#fff" aria-hidden="true"></span>
            </i>
        </div>
    </div>
</div>