<%- include('partials/header') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <img alt="User Picture" class="img-fluid" src="/uploads/<%= data.username %>/profile.jpg">

            <div style="text-align: center;"><h3>Widgets</h3></div>
            <% data.widgets.forEach(widget => {
                if(widget.display) { %>

                    <%- include('partials/widget', { widget })%>

                <% } %>
            <% }) %>

        </div>
        <div class="col-10">
            <h1><%= data.fullName %></h1>

            <h2>About</h2>

            <p><%- data.bio %></p>

            <hr>
        </div>
    </div>
</div>
<%- include('partials/footer') %>