<%- include('partials/header') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 d-none d-lg-block">
            <div class="circle-avatar" alt="User Picture" style="background-image:url(<%- data.photo %>)"></div>
            <hr>
            <div style="text-align: center;"><h3>Widgets</h3></div>
            <% data.widgets.forEach(widget => {
                if(widget.display) { %>

                    <%- include('partials/widget', { widget })%>

                <% } %>
            <% }) %>

        </div>
        <div class="col-lg-9">
            <h1 class="font-weight-bold">I'm <%= data.fullName %>
            </h1>
            <h4>About Me</h4>
            <hr>
            <p><%- data.bio %></p>
        </div>
    </div>
</div>
<%- include('partials/footer') %>